$primary-color: #272727;
$text-color: white;
$accent-color: orange;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700
);
$mobile: 800px;
$main-gradient: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(39,39,39,1) 50%, rgba(39,39,39,1) 80%, rgba(0,0,0,1) 100%);